// *****TAMAÑOS MEDIAQUERIES******

$telefono: 480px;
$tablet: 768px;
$desktop:1024px;


// * FUENTE

$fuente : 'Montserrat', sans-serif;

// * COLORES

$gris : #383B40;
$grisOscuro : #1c1d1e;
$blanco : #f5f5f5;
