@import 'mixins';
@import 'variables';


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// GLOBALES

body {
  font-family: $fuente;
}


// ANIMACIONES

.slide-rigth{
  transform: translateY(0);

  li {
    opacity: 1;
  }
}


// HEADER

header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  background-color: $gris;
  @include desktop(){
    justify-content: space-around ;
  }

  .burger{
    font-size: 20px;
    color: $blanco;
    width: 50vw;

    @include desktop(){
      display: none;
    }

  }

  nav{
    transform: translateY(-100%);
    padding: 10px 40px;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: $grisClaro;
    z-index: -1;
    transition: transform 300ms ease-in;

    @include desktop(){
      transform: unset;
      position: unset;
      z-index: unset;
      background-color: unset;
      width: unset;
      padding: 0;
      order: 2
    }

    ul{
      
      @include resetSpace;
      list-style: none;
      
      @include desktop(){
        display: flex;
        
      }

      li{
        margin: 25px 10px;
        padding: 15px;
        
      }

      a{
        text-decoration: none;
        color:$blanco;
      }


    }
  }

  .logo{
   
  }

}